<ion-content class="start">
  <div class="cover">
    <img class="animated fadeInDown" src="./assets/imgs/logo.png">
    <h2 class="animated fadeInUp">DIGITAL LIBRARY</h2>
    <p class="animated fadeInUp">The World in your Hand</p>
  </div>
  <button class="animated zoomIn" ion-button round (click)="openPage()">START</button>
</ion-content>
