page-start {
    .start{
        position: relative;
        background-color: #2d3236;
        height: 100vh;

        .cover {
            position: absolute;
            top: 25%;
            text-align: center;
            width: 100%;

            img {
                width: 50%;
            }

            h2 {
                color: #fe8a37;
                font-size: 25px;
            }

            p {
                color: #fcd77f;
                font-size: 16px;
            }
        }

        button {
            position: absolute;
            background: #e42d65;
            bottom: 10%;
            width: 50%;
            left: 25%;
            padding: 15px 10px;
            font-size: 30px;
            height: auto !important;
        }
    }
}
