page-member {
    .avatar { 
        text-align: center;
        padding: 15px 0;
        img {
            width: 100%;
        }
    }

    ion-item { padding: 0 !important; }

    button.btn-update {
        font-size: 20px;
        border: 1px solid #488aff;
        width: 100%;
    }

    .image {
        display: inline-block;
        width: 160px;
        height: 160px;
        overflow: hidden;
        -webkit-border-radius: 100%;
        border-radius: 100%;
    }
}
